
*,
*::before,
*::after {
    box-sizing: border-box;
}

header {
    width: 100%;
    position: fixed;
    z-index: 999;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.6);
}

.header_container {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.header_logo {
    display: flex;
    align-items: center;
    width: 30%;
    transition: all 0.5s;
}

.header_logo img {
    height: 60px;
}

.header_logo .white {
    display: none;
}

/* 画像の変化 */
.is-animation .header_logo .enji {
    display: none;
}
.is-animation .header_logo .white {
    display: inline-block;
}

/* 背景色の変化 */
.is-animation {
    background: rgba(183, 25, 63, 1.0);
}

.header_menu {
    width: 70%;
    align-items: center;
}

.header_menu ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
}

.header_menu ul li {
    text-align: center;
    width: 10%;
}
.header_menu ul li a {
    display: block;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-family: 'Times New Roman', Times, Arial, sans-serif;
    text-decoration: none;
    padding-top: 35px;
    padding-bottom: 35px;
    width: 100%;
    transition: all 0.6s;
}

.header_BG .comments {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/summer.jpg);
    background-size: cover;
}

.menu {
    width: 100%;
}

.menu .line {
    height: 7px;
    background: linear-gradient(to right,#f8d28b 0%,#ff7e7e 20%,#daf99e 40%,#c2fbe9 60%,#a2b0ff 80%,#ff80e7 100%);
}

.menu .menues {
    border-bottom: 2px solid #eee;
}
.menu .menues ul {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

.menu .menues ul li {
    height: 140px;
    width: 20%;
    background-size: 30%;
    border-right: 2px solid #eee;
    background-repeat: no-repeat;
    background-position: center 20%;
    list-style: none;
    text-align: center;
    transition: all 0.5s;
}
.menu .menues ul li a {
    display: block;
    padding-top: 100px;
    font-size: 1rem;
    height: 100%;
    font-weight: 900;
    text-decoration: none;
    color: #000000;
}

.menu .menues ul .info{
    border-left: 1px solid #eee;;
    background-image: url(../images/news.png);
}
.menu .menues ul .schedule{
    background-image: url(../images/schedule.png);
}
.menu .menues ul .fee{
    background-image: url(../images/ticket.png);
    background-size: 40%;
}
.menu .menues ul .map{
    background-image: url(../images/map.png);
}
.menu .menues ul .question{
    background-image: url(../images/mail.png);
}

.menu .menues ul li:hover {
    background-color: #eeeeee;
}


.main {
    margin-top: 3rem;
}

.main .M_container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

footer {
    margin-top: 5rem;
    width: 100%;
    background-color: rgba(183, 25, 63, 1.0);
    padding-top: 7px;
    padding-bottom: 7px;
}

footer p {
    margin: 0;
    text-align: center;
    color: #fff;
    font-family: 'Times New Roman', Times, Arial, sans-serif;
}
